*{
    background: #acaca7;
    align-items: center;
}

.game{
    align-self: center;
    align-content: center;
    width: 800px;
    height: 500px;
}

.title{
    align-self: center;
    align-content: center;
    width: 80px;
    height: 100px;
}

.LG{
    width: 350px;
    height: 400px;
}